/* =============== */
/* BASIC SETUP */
/* =============== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: 'Titillium Web', sans-serif;
    text-rendering: optimizeLegibility;
    line-height: 1.3;
}
ul li {
    list-style-type: none;
}
/* heading */

h1 {
    font-size: 4.2rem;
    color: #fff;
}

/* =============== */
/* reusable components */
/* =============== */

.row {
    max-width: 114rem;
    margin: 0 auto;
}

section {
    padding: 8rem 0;
}

h2{
    font-size: 4rem;
    text-transform: uppercase;
    letter-spacing: .3rem;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 2rem;
    color: #fff;
    text-align: center;
}

h2::after {
    content: "";
    display: block;
    height: .4rem;
    background: #fff;
    width: 8.5rem;
    margin: auto;
    margin-top: 2rem;
}

h3 {
    font-size: 2.4rem;
    text-transform: uppercase;
    font-weight: 600;
    color: #fff;
}

h4 {
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 2.5rem;
}

.box {
    padding: 1%;
}

.box p {
    font-size: 1.6rem;
    font-weight: 300;
    margin-top: 2rem;
}

/* button */

.btn:link,
.btn:visited,
.btn {
    background: #333;
    border-bottom: .3rem solid #000;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    padding: 1.5rem 6rem;
    border-radius: .3rem;
    display: inline-block;
    margin-top: 4.5rem;
    font-size: 1.6rem;
}

/*paragraph*/

.little-description {
    font-size: 1.8rem;
    width: 60%;
    margin: auto;
    line-height: 3rem;

}



/* =============== */
/* header section */
/* =============== */

header {
    background: linear-gradient(rgba(135, 80, 156, 0.9),rgba(135, 80, 156, 0.9)), url(img/hero-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    background-attachment: fixed;
    height: 85vh;
    position: relative;
}

.logo {
    height: 3.5rem;
    width: auto;
    margin-top: 3.5rem;
    float: left;
}

/*main navigation*/

.main-nav {
    float: right;
    margin-top: 4rem;
}

.main-nav li {
    display: inline-block;
   margin-left: 1rem;
}

.main-nav li:first-child {
    margin-left: 0;
}

.main-nav li a:link,
.main-nav li a:visited {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    padding: .6rem 1.6rem;
    background: rgba(100, 58, 121, 0);
    border-radius: .3rem;
    display: inline-block;
    font-size: 1.6rem;
    transition: .3s;
}

.main-nav li:hover a:link,
.main-nav li:hover a:visited {
    background: rgba(100, 58, 121, 1.0);
}

.active {
    background: rgba(100, 58, 121, 1.0);
}

.hero-text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.btn-hero:link,
.btn-hero:visited {
    background-color: #eb7d4b;
    border-color: #c86a40;
}

/* =============== */
/* services section */
/* =============== */

.services-section {
    color: #fff;
    text-align: center;
    background: linear-gradient(rgba(23, 194, 164, 0.9), rgba(23, 194, 164, 0.9)), url(img/services-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
}

.services-section h2::after {
    background: #14a58c;
}

.services-icon {
    height: 12rem;
    margin-top: 4rem;
    margin-bottom: 3.5;
}

/* =============== */
/* team section */
/* =============== */
.team-section {
    text-align: center;
    background: linear-gradient(rgba(231, 241, 248, 0.9),rgba(231, 241, 248, 0.9)), url(img/team-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    background-attachment: fixed;
}

.team-section h2 {
    color: #3c4761;
}

.team-section h2::after {
    background: #c8d9e5;
} 
.team-member {
    margin-top: 4.5rem;
    margin-top: 3.5rem;
    height: 20rem;
    width: 20rem;
    border-radius: 50%;
}
.team-section h3 {
    color: #27283d;
}
.role {
    color: #30bae7;
    font-size: 1.6rem;
    text-transform: capitalize;
    margin-top: 1rem;
    display: inline-block;
}
.social-link {
    margin-top: 4.5rem;
}
.social-link ul li {
    display: inline-block;
    margin: 0 .5rem;
}
.social-link ul li a {
    color: #fff;
}
.social-link ul li a:link i:before {
    background: #bdd1df;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    display: inline-block;
    font-size: 2rem;
    padding: 1rem;
    transition: .5s;
}
.social-link ul li a:hover i:before {
    background: #393939;
    transform: rotate(360deg);
}

/* =============== */
/* skill section */
/* =============== */
.skill-section {
    
    text-align: center;
    background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)),url(img/skill-bg.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
}

.skill-section h2, h3, p {
    color: #3c4761;
}

.skill-section h2::after {
    background: #dfe8ed;
}

.circlechart {
    margin-bottom: 2rem;
    margin-top: 4rem;
}

/* =============== */
/* skill section */
/* =============== */
.portfolio-section {
    background: linear-gradient(rgba(255, 221, 153, 0.9), rgba(255, 221, 153, 0.9)), url(img/portfolio-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    text-align: center;
}

.portfolio-section h2 {
    color: #393939;
}

.portfolio-section h2::after {
    background: #e5c37f;
}

.portfolio-filter {
    margin: 4.5rem 0;
}
.portfolio-filter button {
    background: #ebc985;
    font-size: 1.8rem;
    padding: 1rem 2rem;
    border: 0;
    border-radius: .5rem;
    text-transform: uppercase;
    color: #393939;
    margin: 0 .5rem;
    transition: .5s;
}
.portfolio-filter button:hover {
    cursor: pointer;
    box-shadow: inset 0 .3rem .5rem rgba(57, 57, 57, 0.5);
}
.portfolio-section .btn-load-more {
    background: #17c2a4;
    border-color: #14a58c;
}

.portfolio-section .mixitup-control-active {
    background: #fff;
}

/* =============== */
/* testimonial section */
/* =============== */

.testimonial {
    background:linear-gradient(rgba(215, 70, 128, 0.9),rgba(215, 70, 128, 0.9)), url(img/testimonial-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

}
.testimonial .little-description {
    text-align: center;
    color: #fff;
}

.client-photo {
    width: 10rem;
    float: left;
}

.client-photo img {
    height: 8rem;
    border-radius: 50%;
    margin-bottom: 3rem;
}
.client-review {
    width: 30rem;
}

.client-review p, h3 {
    color: #fff;
}

.client-review span {
    color: #fac996;
}
.role {
    margin-left: 10rem
}